body {
  font-family: sans-serif;
  margin: 0;
  background: #E9EAEA;
  background-position: center; }

#qName {
  font-size: 48px;
  margin-top: 2px; }

header {
  color: white;
  height: 60px;
  background: #3D3A37;
  position: relative;
  margin-top: -0px;
  padding: 5px;
  opacity: 0.8;
  border-radius: 20px; }

ul {
  text-align: right;
  margin-right: 225px;
  position: relative;
  margin-top: -43px; }

.links {
  color: white;
  text-decoration: none; }

.links:hover {
  color: orange; }

ul li {
  display: inline;
  padding: 20px; }

.picRow {
  margin: auto;
  margin-top: 20px;
  white-space: nowrap;
  height: 250px;
  width: 1000px; }

.picRow img {
  border-radius: 50px;
  box-shadow: 10px 10px 5px #888888; }

#list {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px; }

.bio {
  text-align: left;
  width: 50%; }

blockquote {
  font-size: 12px;
  font-style: italic; }

.contactMe {
  font-weight: bold;
  width: 400px; }

.submit {
  background: #3D3A37;
  border-radius: 5px;
  color: white; }

.email {
  border-radius: 5px; }

.thinking {
  height: 250px;
  width: 250px;
  display: block;
  margin: auto;
  margin-top: -20px;
  position: relative;
  z-index: -1; }
